@page
@model SafariSoul.Pages.LocationCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Location Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Location.LocationName)</dt>
            <dd>@Html.DisplayFor(model => model.Location.LocationName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Location.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Location.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Location.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Location.UpdatedAt)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Location?.LocationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
