@page
@model SafariSoul.Pages.ZooTransactionCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].CustomerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].DiscountNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZooTransaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerNavigation.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountNavigation.DiscountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.EmployeeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
