@page
@model SafariSoul.Pages.CustomerCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Customer Index</h1>

<form method="post" class="searchFname">
    <p>
        First Name:
        <input type="text" name="searchFname" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<form method="post" class="searchLname">
    <p>
        Last Name:
        <input type="text" name="searchLname" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<form method="post" class="searchLevel">
    <p>
        Membership Level:
        <input type="text" name="searchLevel" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-page="./Index">Back to full list</a>
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].MembershipLevelNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].IsDonor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipLevelNavigation.MembershipLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDonor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
