@page
@model SafariSoul.Pages.MaintenanceRequestCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Create Maintenance Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaintenanceRequest.Details" class="control-label"></label>
                <input asp-for="MaintenanceRequest.Details" class="form-control" />
                <span asp-validation-for="MaintenanceRequest.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceRequest.Exhibit" class="control-label"></label>
                <select asp-for="MaintenanceRequest.Exhibit" class ="form-control" asp-items="ViewBag.Exhibit">
                    <option value="">-- Select Exhibit --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceRequest.Location" class="control-label"></label>
                <select asp-for="MaintenanceRequest.Location" class ="form-control" asp-items="ViewBag.Location">
                    <option value="">-- Select Location --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceRequest.TimeRequested" class="control-label">Time Requested</label>
                <input asp-for="MaintenanceRequest.TimeRequested" type = "time" class="form-control" />
                <span asp-validation-for="MaintenanceRequest.TimeRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceRequest.TimeFulfilled" class="control-label">Time Fulfilled</label>
                <input asp-for="MaintenanceRequest.TimeFulfilled" type = "time" class="form-control" />
                <span asp-validation-for="MaintenanceRequest.TimeFulfilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceRequest.Urgency" class="control-label"></label>
                <select asp-for="MaintenanceRequest.Urgency" class="form-control">
                    <option value="">-- Select Urgency Level --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="MaintenanceRequest.Urgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
