@page
@model SafariSoul.Pages.MaintenanceRequestCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maintenance Request</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.Details)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.Details)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.TimeRequested)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.TimeRequested)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.TimeFulfilled)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.TimeFulfilled)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.Urgency)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.Urgency)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.ExhibitNavigation)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.ExhibitNavigation.ExhibitName)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.LocationNavigation)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.LocationNavigation.LocationName)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.UpdatedAt)</dd>
        </div>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MaintenanceRequest.TicketNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
