@page
@model SafariSoul.Pages.MaintenanceRequestCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Maintenance Request Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.Details)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.Details)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.TimeRequested)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.TimeRequested)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.TimeFulfilled)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.TimeFulfilled)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.Urgency)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.Urgency)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.ExhibitNavigation)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.ExhibitNavigation.ExhibitName)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.LocationNavigation)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.LocationNavigation.LocationName)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaintenanceRequest.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.MaintenanceRequest.UpdatedAt)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaintenanceRequest?.TicketNo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
