@page
@model SafariSoul.Pages.MaintenanceRequestCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Maintenance Request Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRequest[0].ExhibitNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRequest[0].LocationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRequest[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRequest[0].TimeRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRequest[0].TimeFulfilled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRequest[0].Urgency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaintenanceRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExhibitNavigation.ExhibitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationNavigation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFulfilled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgency)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TicketNo">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TicketNo">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TicketNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
