@page
@model SafariSoul.Pages.DepartmentCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Add Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Department.DeptName" class="control-label">Department Name</label>
                <input asp-for="Department.DeptName" class="form-control" />
                <span asp-validation-for="Department.DeptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.ManagerId" class="control-label">Manager</label>
                <select asp-for="Department.ManagerId" class ="form-control" asp-items="ViewBag.ManagerId">
                    <option value="">-- Select Manager --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Department.PhoneNum" class="control-label">Phone Number</label>
                <input asp-for="Department.PhoneNum" class="form-control" />
                <span asp-validation-for="Department.PhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.Email" class="control-label"></label>
                <input asp-for="Department.Email" class="form-control" />
                <span asp-validation-for="Department.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.LocationId" class="control-label">Location</label>
                <select asp-for="Department.LocationId" class ="form-control" asp-items="ViewBag.LocationId">
                    <option value="">-- Select Location --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Department.Budget" class="control-label"></label>
                <input asp-for="Department.Budget" class="form-control" />
                <span asp-validation-for="Department.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
