@page
@model SafariSoul.Pages.DepartmentCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Department Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">

            <dt>@Html.DisplayNameFor(model => model.Department.DeptName)</dt>
            <dd>@Html.DisplayFor(model => model.Department.DeptName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Department.Location)</dt>
            <dd>@Html.DisplayFor(model => model.Department.Location.LocationName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Department.Manager)</dt>
            <dd>@Html.DisplayFor(model => model.Department.Manager.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Department.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Department.Email)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Department.PhoneNum)</dt>
            <dd>@Html.DisplayFor(model => model.Department.PhoneNum)</dd>

            <dt>@Html.DisplayNameFor(model => model.Department.Budget)</dt>
            <dd>@Html.DisplayFor(model => model.Department.Budget)</dd>

            <dt>@Html.DisplayNameFor(model => model.Department.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Department.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Department.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Department.UpdatedAt)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Department?.DeptName">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
