@page
@model SafariSoul.Pages.DepartmentCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Index</h1>

<form method="post" class="searchName">
    <p>
        Name:
        <input type="text" name="searchName" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-page="./Index">Back to full list</a>
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeptName">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeptName">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeptName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
