@page
@model SafariSoul.Pages.EmployeeCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Details</h1>
<div>
    <h4>Employee</h4>
    <hr />
            <dl class="row">
            <div class="col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Employee.Fname)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Fname)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.Minit)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Minit)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.Lname)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Lname)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.Bdate)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Bdate)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.Occupation)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Occupation)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.Salary)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Salary)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.MobilePhoneNum)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.MobilePhoneNum)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.Email)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Email)</dd>
            </div>

            <div class="col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Employee.Address)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.Address)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.EmergencyContactName)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.EmergencyContactName)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.EmergencyContactPhone)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.EmergencyContactPhone)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.EmergencyContactEmail)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.EmergencyContactEmail)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.DateJoined)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.DateJoined)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.DateLeft)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.DateLeft)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.VacationDaysLeft)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.VacationDaysLeft)</dd>

                <dt>@Html.DisplayNameFor(model => model.Employee.SickDaysLeft)</dt>
                <dd>@Html.DisplayFor(model => model.Employee.SickDaysLeft)</dd>
            </div>
        </dl>
    <a asp-page="./Edit" asp-route-id="@Model.Employee?.EmployeeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>


