@page
@model SafariSoul.Pages.DonationCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Donation.Donor)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.Donor.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.AmountDonated)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.AmountDonated)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.DonationPurpose)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.DonationPurpose)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.DateDonated)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.DateDonated)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Donation.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.UpdatedAt)</dd>
        </div>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Donation.DonationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
