@page
@model SafariSoul.Pages.DonationCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Donation Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Donation.Donor)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.Donor.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.AmountDonated)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.AmountDonated)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.DonationPurpose)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.DonationPurpose)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.DateDonated)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.DateDonated)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Donation.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Donation.UpdatedAt)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Donation?.DonationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
