@page
@model SafariSoul.Pages.DonationCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Donation Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].AmountDonated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].DonationPurpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].DateDonated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].Donor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Donation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountDonated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationPurpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDonated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donor.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DonationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DonationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DonationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
