@page
@model SafariSoul.Pages.OccupationCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].JobTitle)     <!--I added this, might not work-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].LowerSalaryRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].UpperSalaryRange)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Occupation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowerSalaryRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpperSalaryRange)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobTitle">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobTitle">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobTitle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
