@page
@model SafariSoul.Pages.AnimalCareProgramCustomer.IndexModel

@{
    ViewData["Title"] = "Animal Care Programs";
    Layout = "_LayoutCustomer";
}

<h1>Animal Care Programs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCareProgram[0].ProgramName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCareProgram[0].ProgramDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCareProgram[0].ProgramResults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCareProgram[0].Feedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AnimalCareProgram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramResults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AnimalProgramNum">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AnimalProgramNum">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AnimalProgramNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
