@page
@model SafariSoul.Pages.AnimalCareProgramCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCareProgram[0].ProgramName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AnimalCareProgram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AnimalProgramNum">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AnimalProgramNum">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AnimalProgramNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
