@page
@model SafariSoul.Pages.AnimalDefault.DetailsModel

@{
    ViewData["Title"] = "Animal Info";
    Layout = "_LayoutDefault";
}

<h1>Animal Info</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.AnimalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.AnimalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.UniqueDescriptors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.UniqueDescriptors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.DateOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.DateOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.SpeciesNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.SpeciesNavigation.SpeciesGenus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
