@page
@model SafariSoul.Pages.ZooEventCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].AdmissionPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].AnimalProgramNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EducationalProgramNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EventLocationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZooEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalProgramNoNavigation.AnimalProgramNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalProgramNoNavigation.ProgramNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocationNavigation.LocationNum)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
