@page
@model SafariSoul.Pages.ExpenseCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expense) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExpenseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExpenseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExpenseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
