@page
@model SafariSoul.Pages.EmployeeShiftCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeShift</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.EmployeeShift.ShiftStart)</dt>
                <dd>@Html.DisplayFor(model => model.EmployeeShift.ShiftStart)</dd>

                <dt>@Html.DisplayNameFor(model => model.EmployeeShift.ShiftEnd)</dt>
                <dd>@Html.DisplayFor(model => model.EmployeeShift.ShiftEnd)</dd>

                <dt>@Html.DisplayNameFor(model => model.EmployeeShift.LunchStart)</dt>
                <dd>@Html.DisplayFor(model => model.EmployeeShift.LunchStart)</dd>

                <dt>@Html.DisplayNameFor(model => model.EmployeeShift.LunchEnd)</dt>
                <dd>@Html.DisplayFor(model => model.EmployeeShift.LunchEnd)</dd>

                <dt>@Html.DisplayNameFor(model => model.EmployeeShift.Employee)</dt>
                <dd>@Html.DisplayFor(model => model.EmployeeShift.Employee.FullName)</dd>

                <dt>@Html.DisplayNameFor(model => model.EmployeeShift.CreatedAt)</dt>
                <dd>@Html.DisplayFor(model => model.EmployeeShift.CreatedAt)</dd>

                <dt>@Html.DisplayNameFor(model => model.EmployeeShift.UpdatedAt)</dt>
                <dd>@Html.DisplayFor(model => model.EmployeeShift.UpdatedAt)</dd>
            </dl>
        </div>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="EmployeeShift.ShiftId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
