@page
@model SafariSoul.Pages.EmployeeShiftCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Shift Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].ShiftStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].ShiftEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].LunchStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].LunchEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmployeeShift) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchEnd)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShiftId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShiftId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShiftId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
