@page
@model SafariSoul.Pages.EmployeeShiftCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].ShiftStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].ShiftEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].LunchStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeShift[0].LunchEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmployeeShift) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchEnd)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShiftId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShiftId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShiftId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
