@page
@model SafariSoul.Pages.MembershipCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Membership Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Membership.MembershipLevel)</dt>
            <dd>@Html.DisplayFor(model => model.Membership.MembershipLevel)</dd>

            <dt>@Html.DisplayNameFor(model => model.Membership.MembershipFee)</dt>
            <dd>@Html.DisplayFor(model => model.Membership.MembershipFee)</dd>

            <dt>@Html.DisplayNameFor(model => model.Membership.Benefits)</dt>
            <dd>@Html.DisplayFor(model => model.Membership.Benefits)</dd>

            <dt>@Html.DisplayNameFor(model => model.Membership.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Membership.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Membership.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Membership.UpdatedAt)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Membership?.MembershipLevel">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
