@page
@model SafariSoul.Pages.AnimalCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Animal Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Animal.AnimalName)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.AnimalName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.UniqueDescriptors)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.UniqueDescriptors)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.DateOfBirth)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.DateOfBirth)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.DateOfDeath)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.DateOfDeath)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.CauseOfDeath)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.CauseOfDeath)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.Gender)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.Gender)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.DietaryRestrictions)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.DietaryRestrictions)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Animal.Recreation)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.Recreation)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.UpdatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.FatherNavigation)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.FatherNavigation.AnimalName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.MotherNavigation)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.MotherNavigation.AnimalName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Animal.Species)</dt>
            <dd>@Html.DisplayFor(model => model.Animal.Species.CommonName)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Animal?.AnimalId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
