@page
@model SafariSoul.Pages.VendorCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vendor</h4>
    <hr />
    <div>
        <dl class="row">
            <div class="col-md-6">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.VendorName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.VendorName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.ProductsAndServices)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.ProductsAndServices)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.ContractInformation)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.ContractInformation)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.CreatedAt)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.CreatedAt)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.UpdatedAt)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.UpdatedAt)</dd>
            </div>
        </dl>
    </div>
    
    <form method="post">
        <input type="hidden" asp-for="Vendor.VendorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
