@page
@model SafariSoul.Pages.VendorCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Vendor Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.VendorName)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.VendorName)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.ProductsAndServices)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.ProductsAndServices)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.ContractInformation)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.ContractInformation)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.CreatedAt)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.CreatedAt)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Vendor.UpdatedAt)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Vendor.UpdatedAt)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vendor?.VendorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
