@page
@model SafariSoul.Pages.SpeciesCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Species</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Species.Kingdom)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Kingdom)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Phylum)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Phylum)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Class)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Class)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Order)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Order)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Family)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Family)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Genus)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Genus)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Species1)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Species1)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Species.LifeExpectancy)</dt>
            <dd>@Html.DisplayFor(model => model.Species.LifeExpectancy)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.NormalBodyTemperature)</dt>
            <dd>@Html.DisplayFor(model => model.Species.NormalBodyTemperature)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.RegionsFound)</dt>
            <dd>@Html.DisplayFor(model => model.Species.RegionsFound)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Diet)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Diet)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Humidity)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Humidity)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.ActiveHours)</dt>
            <dd>@Html.DisplayFor(model => model.Species.ActiveHours)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.ConservationStatus)</dt>
            <dd>@Html.DisplayFor(model => model.Species.ConservationStatus)</dd>
        </div>
    </dl>
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Species.CommonName)</dt>
            <dd>@Html.DisplayFor(model => model.Species.CommonName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Exhibit)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Exhibit.ExhibitName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Species.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Species.UpdatedAt)</dd>
        </div>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Species.SpeciesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
