@page
@model SafariSoul.Pages.SpeciesCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Species Details</h1>

<div class="container">
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Species.Kingdom)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Kingdom)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Phylum)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Phylum)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Class)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Class)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Order)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Order)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Family)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Family)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Genus)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Genus)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Species1)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Species1)</dd>
        </div>
    </dl>
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Species.CommonName)</dt>
            <dd>@Html.DisplayFor(model => model.Species.CommonName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.Exhibit)</dt>
            <dd>@Html.DisplayFor(model => model.Species.Exhibit.ExhibitName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Species.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Species.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Species.UpdatedAt)</dd>
        </div>
    </dl>
    <div class="col-md-6">
        <dt>@Html.DisplayNameFor(model => model.Species.LifeExpectancy)</dt>
        <dd>@Html.DisplayFor(model => model.Species.LifeExpectancy)</dd>

        <dt>@Html.DisplayNameFor(model => model.Species.NormalBodyTemperature)</dt>
        <dd>@Html.DisplayFor(model => model.Species.NormalBodyTemperature)</dd>

        <dt>@Html.DisplayNameFor(model => model.Species.RegionsFound)</dt>
        <dd>@Html.DisplayFor(model => model.Species.RegionsFound)</dd>

        <dt>@Html.DisplayNameFor(model => model.Species.Diet)</dt>
        <dd>@Html.DisplayFor(model => model.Species.Diet)</dd>

        <dt>@Html.DisplayNameFor(model => model.Species.Humidity)</dt>
        <dd>@Html.DisplayFor(model => model.Species.Humidity)</dd>

        <dt>@Html.DisplayNameFor(model => model.Species.ActiveHours)</dt>
        <dd>@Html.DisplayFor(model => model.Species.ActiveHours)</dd>

        <dt>@Html.DisplayNameFor(model => model.Species.ConservationStatus)</dt>
        <dd>@Html.DisplayFor(model => model.Species.ConservationStatus)</dd>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Species?.SpeciesId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
