@page
@model SafariSoul.Pages.EmployeeCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Fname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Minit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Minit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Bdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Bdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TrainingAndCerts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TrainingAndCerts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TimeBasedBenefits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TimeBasedBenefits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.OccupationBasedBenefits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.OccupationBasedBenefits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Wage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Wage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Bonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Bonus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Insurance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Insurance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.InsurancePlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.InsurancePlan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.WorkPhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.WorkPhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MobilePhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MobilePhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmergencyContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmergencyContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmergencyContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmergencyContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateJoined)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VacationDaysLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.VacationDaysLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.SickDaysLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.SickDaysLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DeptNoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DeptNoNavigation.DeptId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LocationNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LocationNavigation.LocationNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.OccupationNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.OccupationNavigation.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Sup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Sup.EmployeeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee?.EmployeeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
