@page
@model SafariSoul.Pages.EmployeeCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            First Name:
            <input type="text" name="SearchFname" value="@Model.fnameFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>    
</form>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Last Name:
            <input type="text" name="SearchLname" value="@Model.lnameFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>    
</form>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        Occupation:
        <input type="text" name="SearchOccupation" value="@Model.occupationFilter" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-page="./Index">Back to full list</a>
    </div>    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Minit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Bdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].DeptNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].OccupationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Sup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNoNavigation.DeptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccupationNavigation.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sup.EmployeeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
