@page
@model SafariSoul.Pages.SpeciesDefault.DetailsModel

@{
    ViewData["Title"] = "Species Info";
    Layout = "_LayoutDefault";
}

<h1>Species Info</h1>

<div>
    <h4>Species</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.CommonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.CommonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.SpeciesKingdom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesKingdom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.SpeciesPhylum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesPhylum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.SpeciesClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.SpeciesOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.SpeciesFamily)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesFamily)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.LifeExpectancy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.LifeExpectancy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.RegionsFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.RegionsFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Diet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Diet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.ActiveHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.ActiveHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.ConservationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.ConservationStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.SpeciesInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.ExhibitNoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.ExhibitNoNavigation.ExhibitNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
