@page
@model SafariSoul.Pages.DataForms.EducationProgramCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EducationProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-6">
        <dt>@Html.DisplayNameFor(model => model.EducationProgram.ProgramName)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.ProgramName)</dd>

        <dt>@Html.DisplayNameFor(model => model.EducationProgram.ProgramDescription)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.ProgramDescription)</dd>

        <dt>@Html.DisplayNameFor(model => model.EducationProgram.CreatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.CreatedAt)</dd>

        <dt>@Html.DisplayNameFor(model => model.EducationProgram.UpdatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.UpdatedAt)</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EducationProgram.EducationProgramId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
