@page
@model SafariSoul.Pages.DataForms.EducationProgramCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Education Program Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-md-6">
        <dt>@Html.DisplayNameFor(model => model.EducationProgram.ProgramName)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.ProgramName)</dd>

        <dt>@Html.DisplayNameFor(model => model.EducationProgram.ProgramDescription)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.ProgramDescription)</dd>

        <dt>@Html.DisplayNameFor(model => model.EducationProgram.CreatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.CreatedAt)</dd>

        <dt>@Html.DisplayNameFor(model => model.EducationProgram.UpdatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.EducationProgram.UpdatedAt)</dd>
    </dl>
    <a asp-page="./Edit" asp-route-id="@Model.EducationProgram?.EducationProgramId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
