@page
@model SafariSoul.Pages.EmployeeAnimalHandlerPage.VeterinaryVisitCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_NewLayoutEmployeeAnimalHandler.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].Vet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].AnimalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].TimeScheduled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].AnimalCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].AnimalTreatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VeterinaryVisit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeScheduled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAdmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDischarged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalTreatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowupNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalNavigation.AnimalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vet.Fname) @Html.DisplayFor(modelItem => item.Vet.Lname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VetVisitId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.VetVisitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.VetVisitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
