@page
@model SafariSoul.Pages.ZooUserCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Zoo User Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.ZooUser.AuthenticationKey)</dt>
            <dd>@Html.DisplayFor(model => model.ZooUser.AuthenticationKey)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooUser.UserType)</dt>
            <dd>@Html.DisplayFor(model => model.ZooUser.UserType)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooUser.Customer)</dt>
            <dd>@Html.DisplayFor(model => model.ZooUser.Customer.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooUser.Employee)</dt>
            <dd>@Html.DisplayFor(model => model.ZooUser.Employee.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooUser.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.ZooUser.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooUser.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.ZooUser.UpdatedAt)</dd>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ZooUser?.UserName">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
