@page
@model SafariSoul.Pages.ZooUserCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>User Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZooUser[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooUser[0].UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooUser[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooUser[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooUser[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooUser[0].Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZooUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserName">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserName">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
