@page
@model SafariSoul.Pages.DependentCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dependent</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Dependent.Fname)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.Fname)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.Lname)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.Lname)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.Bdate)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.Bdate)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.Gender)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.Gender)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.PhoneNum)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.PhoneNum)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.Email)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.Dependent.Address)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.Address)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.Employee)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.Employee.EmployeeId)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dependent.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.Dependent.UpdatedAt)</dd>
        </div>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dependent.DependentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
