@page
@model SafariSoul.Pages.DependentCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dependent[0].Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependent[0].Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependent[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependent[0].PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependent[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dependent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DependentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DependentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DependentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
