@page
@model SafariSoul.Pages.ExhibitCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].ExhibitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].IsIndoors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].UpperTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].LowerTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].Humidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].Flora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].LocationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].ZookeeperNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exhibit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExhibitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationNavigation.LocationNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZookeeperNavigation.EmployeeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExhibitNo">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExhibitNo">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExhibitNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
