@page
@model SafariSoul.Pages.AnimalCareProgramCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Animal Care Program Index</h1>

<form mehtod="post" class="searchName">
    <p>
        Program Name:
        <input type="text" name="searchName" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-page="./Index">Back to full list</a>
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCareProgram[0].ProgramName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCareProgram[0].ProgramDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AnimalCareProgram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AnimalProgramId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AnimalProgramId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AnimalProgramId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
