@page
@model SafariSoul.Pages.EmployeeAnimalHandlerPage.SpeciesCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayoutEmployeeAnimalHandler.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Species</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Kingdom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Kingdom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Phylum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Phylum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Order)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Family)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Family)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Genus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Genus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Species1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Species1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.LifeExpectancy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.LifeExpectancy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.NormalBodyTemperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.NormalBodyTemperature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.RegionsFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.RegionsFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Diet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Diet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Humidity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Humidity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.ActiveHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.ActiveHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.ConservationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.ConservationStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.CommonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.CommonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Exhibit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Exhibit.ExhibitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Species?.SpeciesId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
