@page
@model SafariSoul.Pages.MembershipDefault.IndexModel

@{
    ViewData["Title"] = "Membership Levels";
    Layout = "_LayoutDefault";
}

<h1>Membership Levels</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipFee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membership) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipLevel) <!-- I added this one, might not work-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipFee)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.MembershipLevel">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
