@page
@model SafariSoul.Pages.InventoryCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<div>
    <h1>Inventory Details</h1>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dl>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.ItemName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.ItemName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.Quantity)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.Quantity)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.MeasurementUnits)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.MeasurementUnits)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.Price)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.Price)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.RefrigerationNeeds)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.RefrigerationNeeds)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.HumidityRequirements)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.HumidityRequirements)</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <dl>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.DestinationNavigation.LocationName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.DestinationNavigation.LocationName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.SupplierNavigation.VendorName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.SupplierNavigation.VendorName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.ReorderThreshold)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.ReorderThreshold)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.ReorderQuantity)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.ReorderQuantity)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.DateLastOrdered)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.DateLastOrdered)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.CreatedAt)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.CreatedAt)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inventory.UpdatedAt)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Inventory.UpdatedAt)</dd>
            </dl>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inventory?.ItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
