@page
@model SafariSoul.Pages.ZooUserCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>ZooUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.AuthenticationKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.AuthenticationKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.UserType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.Employee.EmployeeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ZooUser?.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
