@page
@model SafariSoul.Pages.InventoryCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.ItemDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.ItemDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.RefrigerationNeeds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.RefrigerationNeeds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.HumidityRequirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.HumidityRequirements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.MeasurementUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.MeasurementUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.ReorderThreshold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.ReorderThreshold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.ReorderQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.ReorderQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.DateLastOrdered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.DateLastOrdered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.DestinationNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.DestinationNavigation.LocationNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.SupplierNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.SupplierNavigation.VendorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inventory?.ItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
