@page
@model SafariSoul.Pages.MaintenanceRequestCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaintenanceRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.TimeRequested)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.TimeRequested)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.TimeFulfilled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.TimeFulfilled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Urgency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Urgency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.ExhibitNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.ExhibitNavigation.ExhibitNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.FulfillerNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.FulfillerNavigation.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.LocationNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.LocationNavigation.LocationNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.RequesterNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.RequesterNavigation.EmployeeId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MaintenanceRequest.TicketNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
