@page
@model SafariSoul.Pages.ZooEventCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zoo Event</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.ZooEvent.EventName)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.EventName)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooEvent.EventTime)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.EventTime)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooEvent.EventLocation)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.EventLocation.LocationName)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooEvent.AdmissionPrice)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.AdmissionPrice)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooEvent.RegistrationDeadline)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.RegistrationDeadline)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.ZooEvent.AnimalProgram)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.AnimalProgram.ProgramName)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooEvent.EducationalProgram)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.EducationalProgram.ProgramName)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooEvent.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.ZooEvent.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.ZooEvent.UpdatedAt)</dd>
        </div>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ZooEvent.EventId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
