@page
@model SafariSoul.Pages.ZooEventCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Zoo Event Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EventTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].AnimalProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooEvent[0].EducationalProgram)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZooEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalProgram.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalProgram.ProgramName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
