@page
@model SafariSoul.Pages.AnimalCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";

}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.AnimalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.AnimalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.MotherId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.MotherId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.FatherId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.FatherId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.UniqueDescriptors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.UniqueDescriptors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.DateOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.DateOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.CauseOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.CauseOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.DietaryRestrictions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.DietaryRestrictions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Recreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Recreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.SpeciesNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.SpeciesNavigation.SpeciesGenus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Animal.AnimalId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
