@page
@model SafariSoul.Pages.ExpenseCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.Expense.ExpenseTime)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.ExpenseTime)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.Category)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.Category)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.ExpenseAccount)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.ExpenseAccount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.ExpenseAmount)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.ExpenseAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.InvoiceId)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.InvoiceId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.Employee)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.Employee.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.Vendor)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.Vendor.VendorName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.CreatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.CreatedAt)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.UpdatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.UpdatedAt)</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Expense.ExpenseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
