@page
@model SafariSoul.Pages.ExpenseCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Expense Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.Expense.ExpenseTime)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.ExpenseTime)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.Category)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.Category)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.ExpenseAccount)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.ExpenseAccount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.ExpenseAmount)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.ExpenseAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.InvoiceId)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.InvoiceId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.Employee)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.Employee.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.Vendor)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.Vendor.VendorName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.CreatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.CreatedAt)</dd>

        <dt>@Html.DisplayNameFor(model => model.Expense.UpdatedAt)</dt>
        <dd>@Html.DisplayFor(model => model.Expense.UpdatedAt)</dd>
    </dl>
</div>
@if (Model.Expense.ExpenseItems.Any())
{
    <h3>Expense Items</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Measurement Units</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Expense.ExpenseItems)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Item.ItemName)</td>
                    <td>@item.Item.Price</td>
                    <td>@item.ItemQuantity</td>
                    <td>@item.Item.MeasurementUnits</td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expense?.ExpenseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
