@page
@model SafariSoul.Pages.ExpenseCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h1>Expense Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.InvoiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.InvoiceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Vendor.VendorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expense?.ExpenseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
