@page
@model SafariSoul.Pages.ExhibitCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exhibit</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dl>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.ExhibitName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.ExhibitName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.IsIndoors)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.IsIndoors)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.NormalTemperature)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.NormalTemperature)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.Humidity)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.Humidity)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.FeedingTime)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.FeedingTime)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.MealQuantity)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.MealQuantity)</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <dl>
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Exhibit.LocationNavigation)</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Exhibit.LocationNavigation.LocationName)</dd>

                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Exhibit.MealContentNavigation)</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Exhibit.MealContentNavigation.ItemName)</dd>

                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Exhibit.ZookeeperNavigation)</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Exhibit.ZookeeperNavigation.FullName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.CreatedAt)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.CreatedAt)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Exhibit.UpdatedAt)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Exhibit.UpdatedAt)</dd>
            </dl>
        </div>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Exhibit.ExhibitId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
