@page
@model SafariSoul.Pages.ExhibitCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Edit Exhibit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Exhibit.ExhibitId" />
            <input type="hidden" asp-for="Exhibit.CreatedAt" />
            <div class="form-group">
                <label asp-for="Exhibit.ExhibitName" class="control-label">Exhibit Name</label>
                <input asp-for="Exhibit.ExhibitName" class="form-control" />
                <span asp-validation-for="Exhibit.ExhibitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exhibit.Location" class="control-label"></label>
                <select asp-for="Exhibit.Location" class="form-control" asp-items="ViewBag.Location">
                    <option value="">-- Select Location --</option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Exhibit.IsIndoors" /> @Html.DisplayNameFor(model => model.Exhibit.IsIndoors)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Exhibit.Zookeeper" class="control-label"></label>
                <select asp-for="Exhibit.Zookeeper" class="form-control" asp-items="ViewBag.Zookeeper">
                     <option value="">-- Select Zookeeper --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Exhibit.NormalTemperature" class="control-label">Normal Temperature  (°F)</label>
                <input asp-for="Exhibit.NormalTemperature" class="form-control" />
                <span asp-validation-for="Exhibit.NormalTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exhibit.Humidity" class="control-label">Humidity (%)</label>
                <input asp-for="Exhibit.Humidity" class="form-control" />
                <span asp-validation-for="Exhibit.Humidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exhibit.FeedingTime" class="control-label">Feeding Time</label>
                <input asp-for="Exhibit.FeedingTime" type="time" class="form-control" />
                <span asp-validation-for="Exhibit.FeedingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exhibit.MealContent" class="control-label">Meal Content</label>
                <select asp-for="Exhibit.MealContent" class="form-control" asp-items="ViewBag.MealContent">
                    <option value="">-- Select Meal Content --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Exhibit.MealQuantity" class="control-label"></label>
                <input asp-for="Exhibit.MealQuantity" class="form-control" />
                <span asp-validation-for="Exhibit.MealQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
