@page
@model SafariSoul.Pages.ExhibitCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Exhibit Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].ExhibitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].IsIndoors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].LocationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit[0].ZookeeperNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exhibit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExhibitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsIndoors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationNavigation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZookeeperNavigation.FullName) 
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExhibitId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExhibitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExhibitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
