@page
@model SafariSoul.Pages.VeterinaryVisitCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Veterinary Visit</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.Vet)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.Vet.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.AnimalNavigation)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.AnimalNavigation.AnimalName)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.Reason)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.Reason)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.TimeScheduled)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.TimeScheduled)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.TimeAdmitted)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.TimeAdmitted)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.TimeDischarged)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.TimeDischarged)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.Urgency)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.Urgency)</dd>
        </div>

        <div class="col-md-6">
            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.AnimalCondition)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.AnimalCondition)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.AnimalTreatment)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.AnimalTreatment)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.FollowupNeeded)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.FollowupNeeded)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.CreatedAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.VeterinaryVisit.UpdatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.VeterinaryVisit.UpdatedAt)</dd>
        </div>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="VeterinaryVisit.VetVisitId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
