@page
@model SafariSoul.Pages.VeterinaryVisitCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}

<h1>Veterinary Visit Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].Vet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].AnimalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].TimeScheduled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].AnimalCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryVisit[0].AnimalTreatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VeterinaryVisit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vet.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalNavigation.AnimalName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeScheduled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalTreatment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VetVisitId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.VetVisitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.VetVisitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
