@page
@model SafariSoul.Pages.ZooTransactionCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zoo Transaction</h4>
    <hr />
    <dl class="row">
        <dl class="row">
            <div class="col-md-6">
                <dt>@Html.DisplayNameFor(model => model.ZooTransaction.DateAndTime)</dt>
                <dd>@Html.DisplayFor(model => model.ZooTransaction.DateAndTime)</dd>

                <dt>@Html.DisplayNameFor(model => model.ZooTransaction.Customer)</dt>
                <dd>@Html.DisplayFor(model => model.ZooTransaction.Customer.FullName)</dd>

                <dt>@Html.DisplayNameFor(model => model.ZooTransaction.Location)</dt>
                <dd>@Html.DisplayFor(model => model.ZooTransaction.Location.LocationName)</dd>

                <dt>@Html.DisplayNameFor(model => model.ZooTransaction.Seller)</dt>
                <dd>@Html.DisplayFor(model => model.ZooTransaction.Seller.FullName)</dd>

                <dt>@Html.DisplayNameFor(model => model.ZooTransaction.CreatedAt)</dt>
                <dd>@Html.DisplayFor(model => model.ZooTransaction.CreatedAt)</dd>

                <dt>@Html.DisplayNameFor(model => model.ZooTransaction.UpdatedAt)</dt>
                <dd>@Html.DisplayFor(model => model.ZooTransaction.UpdatedAt)</dd>
            </div>
        </dl>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ZooTransaction.TransactionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
