@page
@model SafariSoul.Pages.DataForms.ZooTransactionCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutNew.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].GeneralTicketQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].GeneralTicketDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZooTransaction[0].Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZooTransaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralTicketQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralTicketDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.EmployeeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
