@page
@model SafariSoul.Pages.Reports.Maintenance_ReportsModel
@{
    @if (@HttpContext.Session.GetString("_Type") == "Admin")
        Layout = "_NewLayout";
    @if (@HttpContext.Session.GetString("_Type") == "Other Employee")
        Layout = "_LayoutEmployee";
    @if (@HttpContext.Session.GetString("_Type") == "Animal Handler")
        Layout = "_LayoutAnimalHandler";
    @if (@HttpContext.Session.GetString("_Type") == "Accountant")
        Layout = "_LayoutAccountant";
    @if (@HttpContext.Session.GetString("_Type") == "Human Resources")
        Layout = "_LayoutHumanResources";
    @if (@HttpContext.Session.GetString("_Type") == "Maintenance")
        Layout = "_LayoutMaintenance";
    @if (@HttpContext.Session.GetString("_Type") == "Sales")
        Layout = "_LayoutSales";
}


<style>
    /*Table Styling*/
    * {
        visibility: visible;
        animation-delay: 0.3s;
        animation-name: fadeIn;
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 900px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }

        .content-table thead tr {
            background-color: #2EB872;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content-table th, .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd
        }

            .content-table tbody tr:nth-last-of-type(even) {
                background-color: #f3f3f3
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 2px solid #2EB872
            }

    /* Button Styling */
    .reportbtn input[type="submit"],
    .reportbtn input[type="date"],
    .reportbtn button {
        background: #2EB872;
        color: #ffffff;
        border-radius: 30px;
        transition: transform 0.3s ease;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        width: 230px;
    }

    .reportbtn button {
        cursor: pointer;
    }

    .reportbtn input[type="date"] {
        width: 150px;
    }

    .reportbtn input[type="submit"]:hover,
    .reportbtn button:hover {
        transform: translate(-12px,-12px);
    }

        .reportbtn input[type="submit"]:hover::after,
        .reportbtn button:hover::after {
            transform: translate(6px,6px);
        }

        .reportbtn input[type="submit"]:hover::before,
        .reportbtn button:hover::before {
            transform: translate(12px,12px);
        }

    .reportbtn input[type="submit"]:active,
    .reportbtn button:active {
        transform: none;
    }

        .reportbtn input[type="submit"]:active::after,
        .reportbtn button:active::after {
            transform: none;
        }

        .reportbtn input[type="submit"]:active::before,
        .reportbtn button:active::before {
            transform: none;
        }

    .reportbtn div {
        display: block;
        margin-bottom: 10px;
       
        
    }
</style>

<body>
    <h1> Maintenance Reports</h1>

    <form method="post" class="reportbtn">
        <div>
        <input type="submit" name="reportType" value="Location by Urgency" />
        <input type="submit" name="reportType" value="Location by Request Time" />
        </div>
        <div>
        <input type="submit" name="reportType" value="By Urgency" />
        <input type="submit" name="reportType" value="By Request Time" />
        </div>
        <div>
        <input type="submit" name="reportType" value="Completed Request" />
        <button type="button" onclick="printTables()">Print Tables</button>
        </div>
    </form>
    @if (ViewData["MaintenanceReportbyUrg"] != null)
    {

        <table id="LocbyUrg" class="content-table">
            <thead>
                <tr>
                    <th>Ticket No.</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>Urgency</th>
                    <th>Requested At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mainReport in ViewData["MaintenanceReportbyUrg"] as List<MaintenanceReport>)
                {
                    <tr>
                        <td>@mainReport.Ticket_No</td>
                        <td>@mainReport.Location</td>
                        <td>@mainReport.Details</td>
                        <td>@mainReport.Urgency</td>
                        <td>@mainReport.Time_Requested</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (ViewData["MaintenanceReportbyReq"] != null)
    {

        <table id="LocbyReq" class="content-table">
            <thead>
                <tr>
                    <th>Ticket No.</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>Urgency</th>
                    <th>Requested At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mainReport in ViewData["MaintenanceReportbyReq"] as List<MaintenanceReport>)
                {
                    <tr>
                        <td>@mainReport.Ticket_No</td>
                        <td>@mainReport.Location</td>
                        <td>@mainReport.Details</td>
                        <td>@mainReport.Urgency</td>
                        <td>@mainReport.Time_Requested</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (ViewData["MaintenanceReportUrg"] != null)
    {

        <table id="Urg" class="content-table">
            <thead>
                <tr>
                    <th>Ticket No.</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>Urgency</th>
                    <th>Requested At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mainReport in ViewData["MaintenanceReportUrg"] as List<MaintenanceReport>)
                {
                    <tr>
                        <td>@mainReport.Ticket_No</td>
                        <td>@mainReport.Location</td>
                        <td>@mainReport.Details</td>
                        <td>@mainReport.Urgency</td>
                        <td>@mainReport.Time_Requested</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (ViewData["MaintenanceReportReq"] != null)
    {

        <table id="Urg" class="content-table">
            <thead>
                <tr>
                    <th>Ticket No.</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>Urgency</th>
                    <th>Requested At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mainReport in ViewData["MaintenanceReportReq"] as List<MaintenanceReport>)
                {
                    <tr>
                        <td>@mainReport.Ticket_No</td>
                        <td>@mainReport.Location</td>
                        <td>@mainReport.Details</td>
                        <td>@mainReport.Urgency</td>
                        <td>@mainReport.Time_Requested</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (ViewData["MaintenanceReportIncom"] != null)
    {

        <table id="Urg" class="content-table">
            <thead>
                <tr>
                    <th>Ticket No.</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>Urgency</th>
                    <th>Requested At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mainReport in ViewData["MaintenanceReportIncom"] as List<MaintenanceReport>)
                {
                    <tr>
                        <td>@mainReport.Ticket_No</td>
                        <td>@mainReport.Location</td>
                        <td>@mainReport.Details</td>
                        <td>@mainReport.Urgency</td>
                        <td>@mainReport.Time_Requested</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</body>
<script>
    function printTables() {
        window.print();
    }
</script>